/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/10/2024, 05:09:39 PM
    Author     : mapache
*/



.mainFxmlClass{
   -fx-background-color: white;
   
    -fx-alignment: center;
    -fx-font-family: "Segoe UI", Arial, sans-serif; /* Modern system font */
}

.titulo-login{
      -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C5F2D; /* Verde oscuro */
}
.texto-normal{
  -fx-font-size: 16px;
  -fx-text-fill: black;
}
.login-boton{
  -fx-background-color: #2C5F2D; /* Verde oscuro */
  -fx-text-fill: white;
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-padding: 10px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-cursor: hand;
}
.login-boton:hover{
  -fx-background-color: #3C8D35; /* Verde oscuro */
}
.boton-guardar{
  -fx-background-color: #2C5F2D; /* Verde oscuro */
 
  -fx-text-fill: #FFFFFF;
  -fx-font-weight: bold;
  -fx-background-radius: 5;
  -fx-cursor: hand;
}
.boton-guardar:hover{
  -fx-background-color: #3C8D35; /* Verde oscuro */
  
}
.boton-editar{
  -fx-background-color: #FFC107; /* Amarillo dorado */
  -fx-text-fill: #FFFFFF;
  -fx-font-weight: bold;
  -fx-background-radius: 5;
  -fx-cursor: hand;
}
.boton-editar:hover{
  -fx-background-color: #FFD54F; /* Amarillo más claro */
}
.boton-elminar{
  -fx-background-color: #D32F2F; /* Rojo */
  -fx-text-fill: #FFFFFF;
  -fx-font-weight: bold;
  -fx-background-radius: 5;
  -fx-cursor: hand;
}
.boton-elminar:hover{
  -fx-background-color: #E57373; /* Rojo más claro */
}
.boton-especial{
  -fx-background-color: #FFB300; /* Amarillo oscuro */
  -fx-text-fill: #FFFFFF;
  -fx-font-weight: bold;
  -fx-background-radius: 5;
  -fx-cursor: hand;
}
.boton-especial:hover{
  -fx-background-color: #FFD54F; /* Amarillo más claro */
}
.encabezado{
  -fx-background-color: #2e5412; /* Verde oscuro */
  -fx-padding: 10;
}
.encabezado-titulo{
  -fx-font-size: 14px;
  -fx-text-fill: #FFFFFF;
}
.encabezado-texto-usuario{
  -fx-font-size: 14px;
  -fx-text-fill: #FFFFFF;
}
.titulo-secsion-formulario {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: #000000;
}

.text-field, .combo-box {
  -fx-border-color: #D3D3D3;
  -fx-background-radius: 5;
  -fx-border-radius: 5;
  -fx-prompt-text-fill: #888888;
}
.table-view {
  -fx-border-color: #D3D3D3; /* Gris claro */
  -fx-table-cell-border-color: transparent;
}
.table-view .column-header {
  -fx-text-fill: #FFFFFF; /* Blanco */
 
}
.table-view .cell {
  -fx-text-fill: #3f3f3f; /* Negro */
  -fx-alignment: CENTER; /* Centrado */
}
.pie{
  -fx-background-color: #2e5412; /* Verde oscuro */
  -fx-text-fill: #FFFFFF;
}
.pie-texto{
  -fx-font-size: 14px;
  -fx-text-fill: #FFFFFF;
}
.botones-navegacion {
  -fx-background-radius: 20;
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: white;
  -fx-cursor: hand;
  -fx-background-color: #4CAF50; /* Verde para botones de navegación */
  -fx-padding: 20;
}

.botones-navegacion :hover {
  -fx-background-color: #45a049; /* Efecto hover más oscuro */
}

.boton-cerrar-sesion{
  -fx-background-color: #FF5252; /* Rojo claro */
  -fx-text-fill: #FFFFFF;
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-background-radius: 5;
  -fx-cursor: hand;
}
.boton-cerrar-sesion:hover {
  -fx-background-color: #FF867C; /* Rojo más claro en hover */
} 
