<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="envio">
     <insert id="registrar" parameterType="pojo.Envio">
        insert into envio(origenDireccion, destinoDireccion, numeroGuia, costo) values (#{origenDireccion}, #{destinoDireccion}, #{numeroGuia}, #{costo});
    </insert>
    
    <update id="actualizar" parameterType="pojo.Envio">
        update envio set origenDireccion = #{origenDireccion}, destinoDireccion = #{destinoDireccion}, costo = #{costo}, fechaActualizacion = #{fechaActualizacion}, idEstado = #{idEstado}, idColaborador = #{idColaborador}, idCliente = #{idCliente} where numeroGuia = #{numeroGuia};
    </update>
    
    <select id="consultar" resultType="pojo.Envio">
        select origenDireccion, destinoDireccion, rol.nombre from Envio inner join Colaborador on envio.idColaborador = colaborador.idColaborador
        inner join Rol on Rol.idRol = Colaborador.idRol where numeroGuia = #{numeroGuia};
    </select> 
    
    <insert id="asignar-conductor" resultType="pojo.Envio">
        insert into envio (idColaborador
    </insert>
    
    <update id="actualizar-estatus" parameterType="pojo.Envio">
        update envio set idEstado = #{idEstado} where idEnvio = #{idEnvio};
    </update>
</mapper>