<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="colaboradorL">
    <select id="login" resultType= "pojo.Colaborador" >
 SELECT colaborador.idColaborador,colaborador.contrasena, colaborador.nombre, colaborador.apellidoPaterno,colaborador.apellidoMaterno,colaborador.correo,colaborador.curp,colaborador.numeroLicencia,colaborador.numeroPersonal,colaborador.idRol, rol.nombre as rol
FROM colaborador 
inner join rol on colaborador.idRol= rol.idRol  where numeroPersonal = #{numeroPersonal} and contrasena = #{contrasena}
    </select>
      
</mapper>